#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500 // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 8   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };

&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;      // 0
    time-to-max-speed-ms = <300>;       // 300
    delay-ms = <0>;                   // 0
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <1>;
    trigger-period-ms = <16>;
};

/ {
    behaviors {
    };
};

/ {
    behaviors {
        boot: bootloader_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&bootloader>, <&kp>;

            display-name = "Bootloader-Tap";
        };

        horz_scroll: horz_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_LEFT>, <&msc SCRL_RIGHT>;

            tap-ms = <50>;
            label = "HORZ_SCROLL";
        };

        vert_scroll: vert_scroll {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_UP>, <&msc SCRL_DOWN>;

            tap-ms = <50>;
            label = "VERT_SCROLL";
        };

        mod_mouse_layer: mod_mouse_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_MOUSE_LAYER";
            bindings = <&mo>, <&mkp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };
};

&mt {
};

&lt {
};

/ {
};

/ {
    combos { compatible = "zmk,combos"; };
};

/ {
    // Up/down scrolling encoder behavior
    // Scroll Encoder Behavior Left and Right

    behaviors {
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp ESC           &kp N1        &kp N2        &kp N3    &kp N4       &kp N5        &kp N6                   &kp N7     &kp N8     &kp N9              &kp N0              &kp MINUS
&kp TAB           &kp Q         &kp W         &kp E     &kp R        &kp T         &kp Y                    &kp U      &kp I      &kp O               &kp P               &kp EQUAL
&kp GRAVE         &kp A         &kp S         &kp D     &kp F        &kp G         &kp H                    &kp J      &kp K      &kp L               &kp SEMI            &kp SQT
&kp LEFT_SHIFT    &kp Z         &kp X         &kp C     &kp V        &kp B         &kp N                    &kp M      &kp COMMA  &kp DOT             &kp UP              &mt LEFT_SHIFT SLASH
&kp LEFT_CONTROL  &kp LEFT_GUI  &kp LEFT_ALT  &kp BSPC  &lt 2 SPACE  &lt 3 DELETE  &mod_mouse_layer 1 RCLK  &mkp LCLK  &kp RET    &mt RIGHT_ALT LEFT  &mt RIGHT_GUI DOWN  &mt RIGHT_CONTROL RIGHT
            >;

            sensor-bindings = <&horz_scroll>, <&vert_scroll>;
        };

        layer_1 {
            bindings = <
&trans  &kp F1        &kp F2        &kp F3         &kp F4        &kp F5         &kp F6  &kp F7  &kp F8  &kp F9    &kp F10        &kp F11
&trans  &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PLUS)   &kp LS(AMPS)  &kp LS(POUND)  &to 1   &kp N7  &kp N8  &kp N9    &kp FSLH       &kp F12
&trans  &kp LS(LPAR)  &kp LS(RPAR)  &kp MINUS      &kp LS(EXCL)  &kp LS(QMARK)  &to 0   &kp N4  &kp N5  &kp N6    &kp LS(PLUS)   &kp EQUAL
&trans  &kp LBKT      &kp RBKT      &kp LS(UNDER)  &kp LS(PIPE)  &kp BSLH       &kp N9  &kp N1  &kp N2  &kp N3    &kp PG_UP      &kp BSLH
&trans  &trans        &trans        &trans         &trans        &trans         &trans  &trans  &trans  &kp HOME  &kp PAGE_DOWN  &kp END
            >;

            sensor-bindings = <&horz_scroll>, <&vert_scroll>;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp F6       &kp F7    &kp F8    &kp F9          &kp F10    &kp F11
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans    &trans    &trans          &trans     &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT     &kp DOWN  &kp UP    &kp RIGHT       &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans  &bootloader  &trans    &kp LBKT  &kp RBKT        &kp UNDER  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans    &trans    &kp LEFT_BRACE  &kp MINUS  &kp RIGHT_BRACE
            >;

            sensor-bindings = <&horz_scroll>, <&vert_scroll>;
        };

        layer_3 {
            bindings = <
&trans  &bt BT_SEL 0    &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_CLR_ALL  &bt BT_CLR    &bt BT_CLR    &bootloader   &bootloader   &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans          &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&horz_scroll>, <&vert_scroll>;
        };
    };
};
